<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="View_GUI.Properties.Settings.AdvokathusetConnectionString"
            connectionString="Data Source=BG-1-PC\SQLEXPRESS;Initial Catalog=Advokathuset;Persist Security Info=True;User ID=abc;Password=abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>